# ======================================================================================
#  __    ____  __  __  ____  ___
# (  )  (_  _)(  \/  )( ___)/ __)
#  )(__  _)(_  )    (  )__) \__ \
# (____)(____)(_/\/\_)(____)(___/
#
#  This file is part of the Limes open source library and is licensed under the terms of the GNU Public License.
#
#  Commercial licenses are available; contact the maintainers at ben.the.vining@gmail.com to inquire for details.
#
# ======================================================================================

# configuration file for editorconfig: https://editorconfig.org/
# the most important bit here is that we indent with tabs by default

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = tab
tab_width = 4
end_of_line = lf
charset = utf-8
max_line_length = off

[CMakeLists.txt]
indent_style = space
indent_size = 4

[*.cmake]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[LICENSE]
indent_style = space

[*.{yml,yaml,json,py,cff,clang-*}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
