# ======================================================================================
#  __    ____  __  __  ____  ___
# (  )  (_  _)(  \/  )( ___)/ __)
#  )(__  _)(_  )    (  )__) \__ \
# (____)(____)(_/\/\_)(____)(___/
#
#  This file is part of the Limes open source library and is licensed under the terms of the GNU Public License.
#
#  Commercial licenses are available; contact the maintainers at ben.the.vining@gmail.com to inquire for details.
#
# ======================================================================================

# direnv configuration file: https://direnv.net/
#
# this file exports some default environment variables for this directory
# this is useful for development, but not strictly necessary
# (we can't be too dependent on it because it's not available on Windows)
# you can add a .envrc.user and/or a .env (export statements only) file in this directory to add local settings
# those files should not be committed
# .env is loaded after .envrc.user
# your .env and .envrc.user files can override any environment variables set in this file
#
# some environment variables you may want to set for local configuration include:
#
# SKIP - comma-separated list of pre-commit hook IDs that will be skipped
#
# also see each file in the env/ directory, they each document their own variables.

strict_env
direnv_version 2.32.2

export PRE_COMMIT_COLOR=always

source_env env/cmake.envrc

source_env env/emscripten.envrc

source_env env/android.envrc

source_env env/ios.envrc

source_env env/mull.envrc

source_env_if_exists .envrc.user
dotenv_if_exists .env
